body {
    height: 330px;
    width: 400px;
    border: 1px solid grey;
}

#main-container {
    padding: 20px;
    
}

#content-form {
    margin-top: 20px;
}

#btn-send-stf {
    margin-top: 10px;
}

#tes-link {
    display: block;
    font-size: 0.8em;
    margin-top: 10px;
}

#radios-tribunais {
    display: flex; 
    justify-content: flex-start; 
    padding: 15px;
}
  
.form-check {
    margin-right: 20px;
}